name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/tasneemsherif/simple-app:latest
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME         
         
