name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/tasneemsherif/simple-app:latest
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME         
         
  deploy:
     needs: build
     runs-on: ubuntu-latest
     steps:
       - name: SSH into EC2 and deploy
         uses: appleboy/ssh-action@v1.1.0
         with:
           host: ${{ secrets.EC2_HOST }}
           username: ubuntu
           key: ${{ secrets.EC2_SSH_KEY }}
           script: |
             echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u tasneemsherif --password-stdin
             docker pull ghcr.io/tasneemsherif/simple-app:latest
             docker stop simple-app || true
             docker rm simple-app || true
             docker run -d -p 80:80 --name simple-app ghcr.io/tasneemsherif/simple-app:latest